<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Watch Online</title>
    <script src="https://ram.openstax.org/able-player/vendor/jquery.min.js"></script>
    <script src="https://ram.openstax.org/able-player/vendor/js.cookie.min.js"></script>
    <link rel="stylesheet" href="https://ram.openstax.org/able-player/build/ableplayer.min.css" type="text/css"/>
    <script src="https://ram.openstax.org/able-player/build/ableplayer.dist.js"></script>
    <style>
      body {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        background: #262626;
      }
      .able-wrapper {
        margin: 0;
        flex-grow: 1;
      }
      .able {
        box-shadow: none;
      }
    </style>
  </head>

  <body>
    <video data-able-player data-skin="2020" preload="auto" playsinline data-youtube-nocookie data-allow-fullscreen data-youtube-id="<%= ancillary.youtube_url %>">
    </video>
  </body>
</html>
